
<div class="container mt-5">
    <img src="assets/logo_png.png" style="height:120px">
    <hr>
    <div class="row">
        <!-- Image 1 -->
        <div class="col-md-4 mb-4">
            <img src="./assets/ExampleImg.png" class="img-fluid gallery-image" alt="Project 1">
        </div>
        <!-- Image 2 -->
        <div class="col-md-4 mb-4">
            <img src="./assets/ExampleImg2.jpg" class="img-fluid gallery-image" alt="Project 2">
        </div>
        <!-- Image 3 -->
        <div class="col-md-4 mb-4">
            <img src="./assets/ExampleImg3.jpg" class="img-fluid gallery-image" alt="Project 3">
        </div>
        <!-- Image 4 -->
        <div class="col-md-4 mb-4">
            <img src="./assets/ExampleImg4.jpg" class="img-fluid gallery-image" alt="Project 4">
        </div>
        <!-- Image 5 -->
        <div class="col-md-4 mb-4">
            <img src="./assets/ExampleImg5.jpg" class="img-fluid gallery-image" alt="Project 5">
        </div>
        <!-- Image 6 -->
        <div class="col-md-4 mb-4">
            <img src="./assets/ExampleImg6.jpg" class="img-fluid gallery-image" alt="Project 6">
        </div>
    </div>
</div>