<div class="container mt-5">
    <div class="row">
        <!-- Project 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./assets/ExampleImg.png" class="card-img-top" alt="Project 1">
                <div class="card-body">
                    <h5 class="card-title">Dota 2 Hero Picker</h5>
                    <p class="card-text">The Dota2 Hero Picker App is a web-based tool designed to assist Dota 2 players in making optimal hero selections for their matches. By taking into account factors such as skill bracket, hero complexity, and preferred roles, and provides personalized recommendations.</p>
                    <a href="https://github.com/Samforquer/Dota2Project#dota2-hero-picker-app" target="_blank" rel="noopener noreferrer" class="btn btn-custom">View Project</a>
                    <hr>
                    <a href="http://mydota2heropickerappbucket.s3-website-us-east-1.amazonaws.com/" target="_blank" rel="noopener noreferrer" class="btn btn-custom">Demo Project</a>
                </div>
            </div>
        </div>
        
        <!-- Project 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./assets/ExampleImg2.jpg" class="card-img-top" alt="Project 2">
                <div class="card-body">
                    <h5 class="card-title">Twitter Clone</h5>
                    <p class="card-text">Developed a RESTful API using Spring Boot and JPA to handle HTTP requests, implemented backend
                        validation and logic to replicate Twitter functionality. Collaborated with other developers to ensure project requirements were met, and ensured seamless integration.</p>
                    <a href="https://github.com/Samforquer/social-media" target="_blank" rel="noopener noreferrer" class="btn btn-custom">View Project</a>
                </div>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./assets/ExampleImg3.jpg" class="card-img-top" alt="Project 3">
                <div class="card-body">
                    <h5 class="card-title">Sam's Portfolio site</h5>
                    <p class="card-text">Crafted an interactive portfolio site using Angular to better display projects, experiences, and skills.</p>
                    <a href="https://github.com/Samforquer/portfolio" target="_blank" rel="noopener noreferrer" class="btn btn-custom">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>
