
<div class="container mt-5">
    <div class="row">
        <!-- Project 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="path_to_project1_image.jpg" class="card-img-top" alt="Project 1">
                <div class="card-body">
                    <h5 class="card-title">Dota 2 Hero Picker App</h5>
                    <p class="card-text">Developed a web app that uses the OpenDota API and filters heroes based on user chosen filters to give the user the best heroes by win rate for their specified requirements.</p>
                    <a href="project1_link" class="btn btn-custom">View Project</a>
                </div>
            </div>
        </div>
        
        <!-- Project 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="path_to_project2_image.jpg" class="card-img-top" alt="Project 2">
                <div class="card-body">
                    <h5 class="card-title">Project 2</h5>
                    <p class="card-text">Developed a RESTful API using Spring Boot, JPA, and PostgreSQL to replicate Twitter
                        functionality. Collaborated with other developers to ensure seamless integration.</p>
                    <a href="project2_link" class="btn btn-custom">View Project</a>
                </div>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="path_to_project3_image.jpg" class="card-img-top" alt="Project 3">
                <div class="card-body">
                    <h5 class="card-title">Project 3</h5>
                    <p class="card-text">Short description about project 3.</p>
                    <a href="project3_link" class="btn btn-custom">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>
