.form-control {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.form-control:focus {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;  /* Slightly darker shade of primary color */
    transform: scale(1.05);
}

form {
    background-color: rgb(33,37,41);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}