.form-control {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.form-control:focus {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

form {
    background-color: #c7bcab;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 550px;
}

h2{
   color:#f2f2eb; 
}

h3{   
     color:#f2f2eb;
}