
.navbar-brand {
    position: absolute;
    left: 10px;
}

.navbar-toggler {
    position: absolute;
    right: 10px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;  /* Adjust this value to make the text bigger or smaller */
    margin: 0 75px;   /* Adjust the left and right margins to space the items out */
}