/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


footer {
    
}

a.nav-link.active {
    color: #ffffff;
    background-color: #343a40;
}