/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
html{
    overflow-y: scroll; /* force scrollbar to remain so items don't shift on page loading.*/
}

main{
    position:relative;
    flex-grow: 1;
    background-color: aquamarine;
}

a.nav-link.active {
    color: #ffffff;
    background-color: #343a40;
}

.icons{
    color:#343a40
}


.btn-custom {
    background-color: #343a40; 
    color: #ecf0f1; 
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .btn-custom:hover {
    background-color: #34495e; 
    color: #ecf0f1; 
  }