<div class="container mt-5">
    <div class="row">
        <div id="story" class="col-lg-6">
            <img src="assets/logo_png.png" style="height:120px">
            <hr>
            <h2>About Me</h2>
            <h3>Hi, I'm Sam, Your Trusted Lawn Care Expert</h3>
            <p>Welcome Sam's Lawn and Landscape! I'm Sam, born and raised in Columbus, Ohio. My journey into lawn care began over 12 years ago as a summer job during my teenage years, and it quickly evolved into a passion and a dream of mine to provide Columbus with the best possible lawncare services.</p>
            <h3>My Commitment to You</h3>
            <p>I am dedicated to providing top-notch mowing and landscaping services. With a keen eye for detail and a commitment to excellence, we strive to make your lawn look its best. Our services are designed to meet your specific needs, ensuring that your lawn remains healthy, beautiful, and well-maintained.</p>
            <a routerLink="/projects" class="btn btn-custom">
                View Projects
            </a>
            <a routerLink="/contact" class="btn btn-custom">
                Contact Me For a Quote
            </a>

        </div>
        <div id="pic-bio" class="col-lg-6">
            <img *ngIf="profileData" [src]="profileData.avatar_url" class="img-fluid rounded-circle"
                alt="Profile Picture" />
            <p *ngIf="profileData" class="mt-3">{{ profileData.bio }}</p>
        </div>
    </div>
</div>