fa-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #202e44;
    transition: color 0.3s;
  }
  
  fa-icon:hover {
    color: #924835;
  }

  #story {
    text-align: left;
}

#pic-bio img {
    max-width: 100%;
}

#pic-bio p {
    font-style: italic;
    font-size: 90%;
}

#pic-bio div {
    margin-top: 1rem;
}

.btn{
  margin: 10px;
}

h2, p{
  color:#f2f2eb;
}

li {
  color: #f2f2eb;
}