<div class="container mt-5">
    <div class="row">
        <div id="story" class="col-lg-6">
            <h2>About Me</h2>
            <h3>Hi, I'm Sam, Your Trusted Lawn Care Expert</h3>
            <p>Welcome to our lawn care service! I'm Sam, born and raised in Columbus, Ohio. From a young age, I've always been driven by a desire to learn and take on new challenges. My journey into lawn care began as a summer job during my teenage years, and it quickly evolved into a passion and a successful business venture.</p>
                <h3>My Story</h3>
            <p>
                I started a family in Columbus, where I also launched my lawn care business. Initially, what began as a summer job soon turned into a management role, allowing me to gain invaluable leadership, teamwork, and communication skills. These experiences laid the foundation for the thriving lawn care business I run today.
            </p>
            <h3>My Commitment to You</h3>
            <p>I am dedicated to providing top-notch mowing and landscaping services. With a keen eye for detail and a commitment to excellence, we strive to make your lawn look its best. Our services are designed to meet your specific needs, ensuring that your lawn remains healthy, beautiful, and well-maintained.</p>
            <a href="assets/currentresume.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-custom">
                Download Resume
                <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
            </a>
            <a href="assets/fasttrack.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-custom">
                Extended FastTrack Resume
                <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
            </a>

        </div>
        <div id="pic-bio" class="col-lg-6">
            <img *ngIf="profileData" [src]="profileData.avatar_url" class="img-fluid rounded-circle"
                alt="Profile Picture" />
            <p *ngIf="profileData" class="mt-3">{{ profileData.bio }}</p>
        </div>
    </div>
</div>