<div class="container mt-5">
    <div class="row">
        <div id="story" class="col-lg-6">
            <h2>Hi, I'm Sam, a Software Developer</h2>
            <p>I was born and raised in Columbus, Ohio. I started a family there, as well as launching my own lawn care
                business.
                I've always been driven by a desire to learn. Whether I was teaching myself chess, golf,
                or how to build my own gaming PCs during my teenage years, I thrived on new challenges.
                My venture into lawn care started as a summer job, but I quickly moved into a management role,
                where I gained valuable leadership, teamwork, and communication skills. I translated what I learned into
                a
                successful lawn care business of my own,
                yet I longed for a career better aligned with my love for learning new things. So, I dove into software
                development, enrolling in Tech Elevator's 30-week full-stack development
                bootcamp. With over 700 hours of experience and two AWS certificates under my belt, I wanted to learn even more. 
                    The FastTrack program at Cook Systems was the next step, deepening my understanding of Java,
                Spring, JavaScript, and Angular, and gaining more hands-on project experience.
                Today, coding is more than a career path for me—it has become a passion. It's about problem-solving,
                learning,
                and using technology to make a difference.
                I'm excited to begin a career where I can combine my love for learning,
                technology, and growth and harness them to develop applications that resonate with and enrich people's
                lives.
            </p>
            <a href="assets/currentresume.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-custom">
                Download Resume
                <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
            </a>
            <a href="assets/fasttrack.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-custom">
                Extended FastTrack Resume
                <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
            </a>

        </div>
        <div id="pic-bio" class="col-lg-6">
            <img *ngIf="profileData" [src]="profileData.avatar_url" class="img-fluid rounded-circle"
                alt="Profile Picture" />
            <p *ngIf="profileData" class="mt-3">{{ profileData.bio }}</p>
        </div>
    </div>
</div>